* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

.header,
.main-section {
	padding-top: 0;
	background-color: #EEEFF1;
}

.fixed-container {
	/* box-sizing: border-box; изменения алгоритма расчета ширины и высоты элемента */
	/* Свойства width и height включают в себя значения полей и границ, но не отступов (margin) */
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1240px;
}

.menu-container {
	padding-top: 67px;
	display: flex;
	justify-content: space-between;
}

.logo {
	padding-left: 47px;
}

.header-menu {
	padding-right: 0px;
	padding-top: 6px;
}

.menu {
	display: flex;
}

nav ul li {
	text-transform: uppercase;
	list-style-type: none;
	letter-spacing: 0.8px;
	font-size: 15px;
}

nav ul li a {
	margin-right: 55px;
	font-weight: 700;
	text-decoration: none;
}

nav ul li a:hover {
	color: #775ffd;
}

.burger-icon {
	display: none;
	margin-top: 1px;
	margin-left: 20px;
}

.burger-icon span {
	display: block;
	height: 7px;
	width: 45px;
	background-color: #34547A;
}

.burger-icon span:nth-child(2) {
	margin: 6px 0;
}

.section-container {
	display: flex;
	justify-content: space-between;
	padding-top: 136px;
	padding-bottom: 155px;
}

.laptop {
	padding-left: 134px;
	padding-top: 20px;
}

.caption {
	font-size: 44px;
	margin-bottom: 48px;
	letter-spacing: 2px;
}

.description {
	margin-bottom: 50px;
	line-height: 26px;
	width: 580px;
}

.button {
	width: 228px;
	height: 70px;
	background-color: #34547A;
	color: #ffffff;
	font-size: 22px;
	cursor: pointer;
}

.button:hover {
	background-color: #253b57;
}

.section-content {
	padding: 400px 100px;
	border: 1px solid black;
	font-size: 26px;
}

.back {
	margin-left: 50px;
	font-size: 16px;
}

/* Меню при адаптации */

.mobile-container {
	/* попап окно можем убирать либо display: none */
	display: none;
	/* либо opacity + visibility: ; */
	opacity: 0;
	visibility: hidden;
	/* --------------------- */
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 12;
	background-color: rgba(0, 0, 0, .8);
	transition: all 0.8s ease 0s;
}

.mobile-container:target {
	opacity: 1;
	visibility: visible;

}

/* Для закрытия с помощью css при клике на темную область */
.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* Для закрытия с помощью css при клике на темную область */
.header-mobile {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 310px;
	height: 380px;
	background-color: rgba(79, 128, 192);
	border: 1px solid grey;
	border-radius: 10px;
	overflow: auto;
	font-size: 14px;
}

.close-icon {
	width: 18px;
	padding-top: 12px;
}

.close-icon span {
	position: absolute;
	top: 20px;
	left: 270px;
	display: block;
	height: 1px;
	width: 20px;
	background-color: rgb(232, 235, 52);
}

.close-icon span:first-child {
	transform: rotate(45deg);
}

.close-icon span:last-child {
	transform: rotate(-45deg);
}

.mobile-list {
	padding-left: 25px;
	margin-top: 0px;
	padding-top: 65px;
	list-style-type: none;
	padding-left: 0;
	font-size: 18px;
}

.mobile-list li {
	text-align: center;
	padding-bottom: 10px;
	letter-spacing: -0.36px;
	padding-top: 9px;
	margin: 0 auto;
	border-bottom: 1px solid lightgrey;
	width: 120px;
	text-transform: uppercase;
}

.mobile-list li:last-child {
	border-bottom: none;
}

.mobile-list a {
	text-decoration: none;
	color: white;
	transition: background 300ms ease;
	outline: none;
}

.mobile-list a:hover {
	color: rgb(232, 235, 52);
}

.swal-button-container button {
	background: cyan;
}


.portfolio {
	background-color: #34547A;
	height: 250px;
}

.projects {
	height: 350px;
	background-color: #34547A;
}

/* Конец меню при адаптации */

@media (max-width: 1250px) {

	.description {
		margin-bottom: 70px;
		line-height: 26px;
		width: 100%;
	}

	.right-part {
		padding-left: 80px;
	}

	.laptop {
		padding-left: 50px;
	}
}

@media (max-width: 925px) {

	.logo {
		padding-left: 0;
	}

	.header-menu {
		display: none;
	}

	.section-container {
		display: block;
		align-content: center;
		padding-top: 50px;
		margin: 0 auto;
		justify-content: center;
	}

	.right-part {
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	.laptop {
		padding: 0px;
		margin: 0 auto 40px auto;
		text-align: center;
	}

	h1 {
		font-size: 24px;
	}

	.menu-container {
		padding-top: 30px;
	}

	.logo img {
		width: 70px
	}

	.burger-icon {
		display: block;
		height: 2px;
		width: 24px;
	}

	.burger-icon span {
		height: 2px;
		width: 24px;
	}

}

.section-numbers {
	color: #34547A;
	background-color: #34547A;
	position: fixed;
	bottom: 0;
}

.man-photo {
	padding-left: 200px;
	padding-top: 90px;
	width: 555px;
}

.fixed-container__title {
	width: 540px;
	height: 87px;
	color: #727272;
	margin: 0 auto;
	text-align: center;
	line-height: 26.25px;
}

.about-container-text {
	padding-top: 107px;
	padding-bottom: 37px;/*  этот отступ подправил */
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
}

.section__item {
	background-color: #34547A;
	margin: 84px 0 0 0;
	padding: 98px 0 100px 0;
}

.section__item-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1090px;
}

.fixed__proficiency {
	width: 110px;
	padding-right: 700px;	
}

.proficiency__sub {
	padding-bottom: 50px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
	position: relative;
}

.proficiency__sub::after {
	display: block;
	position: absolute;
	content: '';
	width: 78.6%;
	height: 4px;
	background-color: #34547A;
	bottom: 0;
	left: 0;
	transform: rotate(-0.06deg);
}


.proficiency__sub::before {
	display: block;
	position: absolute;
	content: '';
	width: 21.4%;
	height: 4px;
	background-color: #C4C4C4;
	bottom: 0;
	left: 78.6%;
	transform: rotate(-0.06deg);
}


.proficiency__wrapper {
	display: flex;
	width: 1150px;
	justify-content: space-between;
}

.proficiency__title-h2 {
	padding-bottom: 34px;
	padding-top: 200px;
	font-size: 32px;
	line-height: 38px;
}

.proficiency__sub {
	width: 430px
}

/* Movie start */

.movie__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	padding-top: 390px;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 50px;
}

.how-desc {
	width: 540px;
	height: 67px;
	padding-bottom: 50px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}

/* Movie start */
 
.movie-image {
	padding-left: 200px;
	height: 600px;
	padding-top: 165px;
}

.movie__title {
	color: black;
}

/* Movie end */

/* Project styles start */
.section-projects {
	width: 1920px;
	height: 960px;
}
/* Project styles end */

/* Microsoft section start */
.work__elements {
	padding-left: 115px;
	padding-top: 290px;
	margin: 72px 0 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work__element {
	max-width: 100%;
}
/* Microsoft section end */

/* Request form section start */
.request-form {
	padding-top: 200px;
	padding-bottom: 100px;
	background-color: #EEEFF1;
	text-align: center;
}

.request-text-subtitle {
	padding-bottom: 65px;
}

.request-form__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.request-form__field {
	top: 0;
	border: none;
	font-size: 14px;
	line-height: 15px;
	color: #5F5D5D;
	padding: 17px 20px 16px;
	margin-bottom: 20px;
	font-family: 'Roboto';
}

.request-form__field_sm {
	width: 47.2%;
}

.request-form__field_lg {
	width: 100%;
	height: 175px;
	margin-bottom: 46px;
}

.request-form__submit {
	width: 190px;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.15em;
	color: white;
	text-transform: uppercase;
	padding: 16px;
	background: #34547A;
	border: 0;
}
/* Project styles end */

